<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mRemoteNG.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mRemoteNG.Properties.App>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormRestoreSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormRestoreLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormKiosk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartOnScreen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetPanels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetToolbars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastConnectionFile" serializeAs="String">
                <value />
            </setting>
        </mRemoteNG.Properties.App>
    </userSettings>
</configuration>